<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>@ViewBag.Title – Shop</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Магазин робототехники", "Starts", "Starts", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Информация", "Index", "Information", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Доставка", "Index", "Delivery", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Новости", "Index", "News", new { area = "" }, null)</li>

                    <li>
                        @using (Html.BeginForm("Starts", "Starts", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0", role = "form" }))
                        {
                            <input type="hidden" value="-1" name="ProductCategory" />
                            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск" name="SearchText">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                        }
                    </li>
                </ul>
            @Html.Partial("_LoginPartial")
        </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
          <div class="opis">
              <h4><b>О магазине:</b></h4>
              <p>
                  Роботы, конструкторы, наборы, запчасти и комплектующие для самостоятельной сборки роботов, компоненты для робототехники, мехатроники, занимательная электроника и электроника для умного дома на базе микроконтроллеров Arduino (Ардуино) и Raspberry (Малина), Orange Pi - это основное направление нашего интернет магазина. Здесь вы можете купить как готового робота, так и собрать самостоятельно из предложенных компонентов и запасных частей Pololu, DFRobot, Seeed Studio, Gekko, Feetech, Tamiya.

                  Здесь Вы найдете все для робототехники: контроллеры -роботов, -двигателей, -серво; драйверы моторов; разные датчики и сенсоры; мотор-редукторы и сервоприводы; шасси и платформы; колеса и шаровые опоры; брекеты и крепежные элементы; и многое другое.
              </p>
              <h4><b>Связь с нами:</b></h4>
              <h5><b>Телефоны:</b></h5>
              <p><b>+79788972950</b> - телефон нашего магазина</p>
              <p><b>+79385344830</b> - телефон доставки</p>
              <p>Ваши вопросы вы можете задать отправив письмо на эту почту: <b>dobudoglo.maxim@gmail.com</b></p>
          </div>
</footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
